@using Prueba.ViewModels

@model DashboardUsuarioVM

@{
    ViewData["Title"] = "Dashboard";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Inicio</h1>
        <a href="#"
           class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generar
            Informe
        </a>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100 py-2 bg-content-bg">
                <div class="newsletter__top"></div>
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Condominio
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                @if (Model.Propiedades != null && Model.Propiedades.Any())
                                {
                                    @Model.Propiedades.First().IdCondominioNavigation.Nombre
                                }
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100 py-2 bg-content-bg">
                <div class="newsletter__top"></div>
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Oficinas
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                @if (Model.Propiedades != null && Model.Propiedades.Any())
                                {
                                    foreach (var item in Model.Propiedades)
                                    {
                                        <span>@item.Codigo </span>
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100 py-2 bg-content-bg">
                <div class="newsletter__top"></div>
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Propietario
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                        50%
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info"
                                             role="progressbar"
                                             style="width: 50%"
                                             aria-valuenow="50"
                                             aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="far fa-clipboard fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100 py-2 bg-content-bg">
                <div class="newsletter__top"></div>
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Pendientes de Pago
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                @if (Model.Usuario != null)
                                {
                                    <span>@Model.Usuario.FirstName</span>
                                }
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (Model.Propiedades != null && Model.Propiedades.Any())
    {
        foreach (var propiedad in Model.Propiedades)
        {
            var recibosPendientes = propiedad.ReciboCobros.Where(c => !c.Pagado).OrderBy(c => c.Fecha).ToList();
            <!-- Content Row -->
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="card shadow mb-4 bg-content-bg">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">
                                Recibos pendientes @propiedad.Codigo
                            </h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle"
                                   href="#"
                                   role="button"
                                   id="dropdownMenuLink"
                                   data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                     aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Dropdown Header:</div>
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered form"
                                       id="dataTable"
                                       width="100%"
                                       cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Fecha de Emisión</th>
                                            <th>Mes</th>
                                            <th>Monto</th>
                                            <th>Abonado</th>
                                            <th>total a Pagar</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (recibosPendientes.Any())
                                        {
                                            foreach (var recibo in recibosPendientes)
                                            {
                                                <tr class="tr_s">
                                                    <td>@recibo.Fecha.ToString("dd/MM/yyyy")</td>
                                                    <td>@recibo.Mes</td>
                                                    <td>@recibo.Monto.ToString("N")</td>
                                                    <td>@recibo.Abonado</td>
                                                    <td>@recibo.TotalPagar.ToString("N")</td>
                                                    <td></td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr class="tr_s">
                                                <td colspan="6" class="text-center">No existen recibos pendientes</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

    <partial name="_CarruselFormasPago"></partial>
</div>
