@using Prueba.ViewModels

@model IndexPagosVM
@{
    ViewData["Title"] = "Pagos Emitidos";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        @*<h1 class="h3 mb-0 text-gray-800">Pagos Emitidos</h1>*@
        <a class="btn btn-light mb-3" asp-controller="PagosEmitidos"
           asp-action="RegistrarPagos">
            Registrar
        </a>
    </div>
    <div class="d-sm-flex align-items-center justify-content-around mb-4">
        @*         <a type="button" id="create_pdf" value="Generate PDF" href="#" class="d-sm-inline-block btn btn-sm btn-danger shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Generar
        PDF
        </a> *@
        <button type="button" class="d-sm-inline-block btn btn-sm btn-danger shadow-sm" id="PagosEmitidos">Crear pdf</button>

        <a value="Export" onclick="fnExcelReport();" class="d-sm-inline-block btn btn-sm btn-success shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generar
            Excel
        </a>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- DataTales Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Pagos Emitidos
                    </h6>
                    <partial name="_FiltrarFecha" model="@(new Prueba.ViewModels.FiltrarFechaVM())" />

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered form"
                               id="dataTable"
                               width="100%"
                               cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Monto</th>
                                    <th>Tasa de Cambio</th>
                                    <th>Monto ref</th>
                                    <th>Forma de pago</th>
                                    <th>Referencia</th>
                                    <th>Banco</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            @*                            <tfoot>
                            <tr>
                            <th>Fecha</th>
                            <th>Monto</th>
                            <th>Forma de pago</th>
                            <th>Referencia</th>
                            <th>Banco</th>
                            <th>Acciones</th>
                            </tr>
                            </tfoot>*@
                            <tbody>
                                @if (Model.PagosEmitidos != null && Model.PagosEmitidos.Count() > 0)
                                {
                                    foreach (var item in @Model.PagosEmitidos)
                                    {
                                        if (item.FormaPago)
                                        {
                                            if (Model.BancosCondominio != null && Model.BancosCondominio.Any()
                                            && Model.Referencias != null && Model.Referencias.Any())
                                            {
                                                var referencia = Model.Referencias.FirstOrDefault(c => c.IdPagoEmitido == item.IdPagoEmitido);
                                                if (referencia != null)
                                                {
                                                    var idBanco = Convert.ToInt32(referencia.Banco);
                                                    var banco = Model.BancosCondominio.Where(c => c.Id == idBanco).First();
                                                    <tr class="tr_s">
                                                        <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                                                        <td>@(item.Monto.ToString("N")) @item.SimboloMoneda </td>
                                                        <td>@item.ValorDolar.ToString("N")</td>
                                                        <td>@(item.MontoRef.ToString("N")) @item.SimboloRef </td>
                                                        <td>@FormaPago.Transferencia</td>
                                                        <td>@referencia.NumReferencia</td>
                                                        <td>@banco.Descricion</td>
                                                        @if (item.Activo)
                                                        {
                                                            <td>
                                                                @*<a asp-action="Edit" asp-route-id="@item.IdPagoEmitido">Editar</a> |*@
                                                                <a asp-action="Details" asp-route-id="@item.IdPagoEmitido">Detalles</a> |
                                                                <a asp-action="PagoProveedorPDF" asp-route-id="@item.IdPagoEmitido">PDF</a> |
                                                                <a asp-action="Delete" asp-route-id="@item.IdPagoEmitido">Eliminar</a>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                Conciliado |
                                                                <a asp-action="PagoProveedorPDF" asp-route-id="@item.IdPagoEmitido">PDF</a> |

                                                            </td>
                                                        }

                                                    </tr>
                                                }                                             

                                            }

                                        }
                                        else
                                        {
                                            <tr class="tr_s">
                                                <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                                                <td>@(item.Monto.ToString("N")) @item.SimboloMoneda </td>
                                                <td>@item.ValorDolar.ToString("N")</td>
                                                <td>@(item.MontoRef.ToString("N")) @item.SimboloRef </td>
                                                <td>@FormaPago.Efectivo</td>
                                                <td></td>
                                                <td></td>
                                                @if (item.Activo)
                                                {
                                                    <td>
                                                        @*<a asp-action="Edit" asp-route-id="@item.IdPagoEmitido">Editar</a> |*@
                                                        <a asp-action="Details" asp-route-id="@item.IdPagoEmitido">Detalles</a> |
                                                        <a asp-action="PagoProveedorPDF" asp-route-id="@item.IdPagoEmitido">PDF</a> |
                                                        <a asp-action="Delete" asp-route-id="@item.IdPagoEmitido">Eliminar</a>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        Conciliado |
                                                        <a asp-action="PagoProveedorPDF" asp-route-id="@item.IdPagoEmitido">PDF</a> |
                                                    </td>
                                                }

                                            </tr>
                                        }

                                    }
                                }
                                else
                                {
                                    <tr class="tr_s">
                                        <td>No</td>
                                        <td>Existen</td>
                                        <td>Datos</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#PagosEmitidos").click(function () {
                var datos = @Html.Raw(Json.Serialize(Model));
                $.ajax({
                    url: '/PagosEmitidos/PagosEmitidosPDF',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(datos),
                    success: function (result) {
                        var binaryData = atob(result);
                        var arrayBuffer = new ArrayBuffer(binaryData.length);
                        var uint8Array = new Uint8Array(arrayBuffer);

                        for (var i = 0; i < binaryData.length; i++) {
                            uint8Array[i] = binaryData.charCodeAt(i);
                        }

                        var blob = new Blob([uint8Array], { type: 'application/pdf' });
                        var url = URL.createObjectURL(blob);
                        var a = document.createElement('a');

                        a.style.display = 'none';
                        a.href = url;
                        a.download = 'PagosEmitidos.pdf';
                        document.body.appendChild(a);
                        a.click();
                        document.body.removeChild(a);
                        // console.log("Exito")
                    },
                    error: function () {
                        alert('Error al descargar detalle del recibo');
                    }
                });
            });
        });
    </script>
    <script>
        function fnExcelReport() {
            var tab_text = "<table border='2px'><tr bgcolor='#87AFC6'>";
            var textRange; var j = 0;
            tab = document.getElementById('dataTable'); // id of table

            for (j = 0; j < tab.rows.length; j++) {
                tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
            }

            tab_text = tab_text + "</table>";
            tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
            tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
            tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

            var ua = window.navigator.userAgent;
            var msie = ua.indexOf("MSIE ");

            if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
            {
                txtArea1.document.open("txt/html", "replace");
                txtArea1.document.write(tab_text);
                txtArea1.document.close();
                txtArea1.focus();
                sa = txtArea1.document.execCommand("SaveAs", true, "Recibos.xls");
            }
            else                 //other browser not tested on IE 11
                sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));

            return (sa);
        }
    </script>
}

