@model IEnumerable<Prueba.Models.Inquilino>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <a class="btn btn-light mb-3" asp-controller="Inquilinos"
           asp-action="Create">
            Registrar
        </a>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- DataTales Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Inquilinos
                    </h6>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table text-center"
                               id="dataTable"
                               width="100%"
                               cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Rif)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Telefono)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Cedula)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Activo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdPropiedadNavigation)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Rif)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Telefono)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cedula)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Activo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdPropiedadNavigation.IdPropiedad)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Id)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.IdInquilino">Editar</a> |
                                            <a asp-action="Details" asp-route-id="@item.IdInquilino">Detalles</a> |
                                            <a asp-action="Delete" asp-route-id="@item.IdInquilino">Eliminar</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


